<!DOCTYPE html>
<html>

<style>

</style>

<head>
    <title> Look After Yourself
            {% block title_block %}
            {% endblock %}
    </title>
    <!-- Links Default CSS Sheet -->
    <link href="https://www.pythonanywhere.com/user/LookAfterYourself/files/home/LookAfterYourself/templates/MainApp/stylesheets/default.css" rel="stylesheet" type="text/css">
</head>

    <body>
        <!-- Main Titles -->
        <div style = "text-align:center;">
        <h1> Look After Yourself </h1>
        <h2> The Mental Health Support Application</h2>
        <p style="margin:0;padding:0"> <strong> {{custom_message}}</strong> </p>
        </div>

        <!-- The Horizontal Menu bar -->

                <ul id="Menu">
                    <li id="MenuItem"><a href="/blog/"><b>Blog</b></a></li>
                    <li id="MenuItem"><a href="/tips/"><b>Tips</b></a></li>
                    <li id="MenuItem"><a href="/calendar/"><b>Calendar</b></a></li>
                    <li id="MenuItem"><a href="/support/"><b>Support Services</b></a></li>
                    <li id="MenuUser"><a href="/login/"><b>Log in</b></a></li>
                </ul>
        {% block body_block %}

        {% endblock %}

        <!-- Footer Bar -->
        <div>
                <ul id="Footer" style="list-style-type:none;color:black;margin:0;padding:0">
                <li id="FooterItem"><a href="/blog/">Blog</a></li>
                <li id="FooterItem"><a href="/tips/">Tips</a></li>
                <li id="FooterItem"><a href="/calendar/">Calendar</a></li>
                <li id="FooterItem"><a href="/support/">Support Services</a></li>
                <li id="FooterItem"><a href="/login/">Log in</a></li>
                </ul>
        </div>
        <br>
        <p style="color:white"> &copy Web Application Development 2 - Team 3 Lab C</p>
    </body>
</html>