<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}
{% block script %}
<link rel="stylesheet" href="{% static "css/calendar.css" %}"/>
{% endblock %}

{% block title_block %}
Calendar
{% endblock %}



{% block content %}
    <div class="piece">
        {% if name and startTime %}

        <h3>The next upcoming event</h3>
        <a href="/event/{{id}}">{{name}}</a></br>
        <p>{{startTime}}
        {% if endTime%}
            - {{endTime}}
        {% endif %}</p>

        {% else %}
        <h3>No upcoming events</h3>
        {% endif %}
    </div>
    <div class="piece">
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=2&amp;bgcolor=%2300cccc&amp;src=lookafteryourself2018%40gmail.com&amp;color=%231B887A"
                style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

{% if user.is_superuser %}
    <div class="piece">
        <form action="/calendar/" method="POST">{% csrf_token %}
             {{form.as_p}}
        <button type="submit">Submit</button>
	</form>
    </div>
{% endif %}

{% endblock %}