<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}
{% block script %}
<link rel="stylesheet" href="{% static "css/calendar.css" %}"/>
<script src="{% static "js/calendar.js" %}"></script>
{% endblock %}

{% block title_block %}
Calendar
{% endblock %}

{% block content %}
<div id="container">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=2&amp;bgcolor=%2300cccc&amp;src=lookafteryourself2018%40gmail.com&amp;color=%231B887A"
                width="800" height="600" frameborder="0" scrolling="no" style="img"></iframe>
    

    <div class="event" id="eventHolder">
        {% if name and startTime %}

        <h3>The next upcoming event</h3>
        <a href="{% url 'event' id %}">{{name}}</a></br>
        <p>{{startTime}}
        {% if endTime %}
            - {{endTime}}
        {% endif %}</p>
		<div id = "readMore" style="display:none;"><p>{{description}}</p><p>{{location}}</p></div>
		<button type="button" id="readMoreButton" class = "readMoreButton" onclick="readMoreFunction()"><p><span id="ReadMoreText">Read more</span></p></button>
        {% else %}
        <h3>No upcoming events</h3>
        {% endif %}
    </div>
</div>

{% if user.is_staff %}
    <div>
        {% if message %}
        <p class="error">{{message}}</p>
        {% endif %}
		<h3>Create a new event</h3>
        <form action="{% url 'calendar' %}" method="POST">{% csrf_token %}
             {{form.as_p}}
        <button type="submit">Submit</button>
	</form>
    </div>
{% endif %}


{% endblock %}