<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}
{% block script %}
<link rel="stylesheet" href="{% static "css/calendar.css" %}" />
{% endblock %}

{% block title_block %}
Event {{name}}
{% endblock %}



{% block content %}
<div class="piece">
    {% if name and startTime %}

    <h3>{{name}}</h3>
    <p>{{startTime}}
    {% if endTime%}
        - {{endTime}}
    {% endif %}</p>
    <p>{{location}}</p>
    <p>{{description}}</p>

    {% else %}
    <h3>The event was not found<h3/>
    {% endif %}
</div>

<div>
{% if prev %}
    <a href="{% url 'event' prev %}">Previous</a>
{% endif %}
</div>
<div>
{% if next %}
    <a href="{% url 'event' next %}">Next</a>
{% endif %}
</div>

{% endblock %}