<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}

<!-- Home page so this is empty-->
{% block title %}
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://github.com/metafizzy/flickity-bg-lazyload/blob/master/bg-lazyload.js"></script>
{% endblock %}

{% block meta %}

{% endblock %}

{% block content %}


        <br>
        <!-- Carrousel -->
        <br>
        <br>
        <div class="carousel" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": 2000 }'>
            <div class="carousel-cell" align="center" style="background-repeat: no-repeat; background-position: center;
            background-image: url({% static "blog.png" %});"
            onclick="document.location.href='/blog/';"></div>
            <div class="carousel-cell" align="center" style="background-repeat: no-repeat; background-position: center;
            background-image: url({% static "tips.png" %});"
            onclick="document.location.href='/tips/';"></div>
            <div class="carousel-cell" align="center" style="background-repeat: no-repeat; background-position: center;
            background-image: url({% static "calendar.png" %});"
            onclick="document.location.href='/calendar/';"></div>
            <div class="carousel-cell" align="center" style="background-repeat: no-repeat; background-position: center;
            background-image: url({% static "support.png" %});"
            onclick="document.location.href='/support/';"></div>

        </div>
        <br>
        <br>
        <br>
        <br>

        <h2 style = "text-align:center;">A Central Portal for Mental Health Support at the University of Glasgow</h2>
        <br>
        <br>

{% endblock %}