<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
    <!-- Home page so this is empty-->
{% endblock %}

{% block body_block %}


        <br>
        <!-- Carrousel -->
        <div style="margin:10px">
        <a href = "https://en.wikipedia.org/wiki/John_von_Neumann">
        <img src="https://i.imgur.com/29LGWdM.jpg" width = 50% height = 50%>
        </a>
        </div>

        <br>

        <iframe width=90% height=1080 src="https://www.yumpu.com/en/embed/view/ASGDFsv5yTik4MXW" allowfullscreen="true"  allowtransparency="true"></iframe>
        <p style="color:white"> <b style="color:#AACCFF;"> Password: </b>yMNpPQXt </p>

{% endblock %}