<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}

{% block title %}
Register
{% endblock %}

{% block script %}
{% endblock %}

{% block meta %}

{% endblock %}


{% block content %}

    <h1>Register</h1>
    {% if registered %}
    <strong>You are now registered</strong>
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
    <strong>Register here </strong> <br />
    <form id="user_form" method="post" action="{% url 'register' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form -->
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}

{% endblock %}