<!DOCTYPE html>
{% extends 'MainApp/base.html' %}

{% block title %}

{% endblock %}

{% block script %}
{% endblock %}

{% block meta %}
{% endblock %}


{% block content %}

    <br>
    <br>
    <br>

    <div class="col-md-12" align="center">
        <h3 style="color: #AACCFF;">Submit Your Own Tip</h3>
        <p style="color: white; font-size: 20px;">
            Send us a tip that has helped you cope in the past that you think others may find useful. All submitted tips are to be approved by a moderator before publication.
        </p>

        <br>

        <form id="submit_form" method="post" action="/submittip/">
            {% csrf_token %}
            {% for hidden in submit_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in submit_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
            <br>
            <br>
                {{ field }}
            <br>
            <br>
            {% endfor %}
            <br>
            <input style="width:20%;" type="submit" name="submit" value="Submit Tip" class="btn btn-primary btn-info btn-block"/>
        </form>

    </div>
    <br>
    <br>

{% endblock %}