<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}

{% block title %}
    - Tips
{% endblock %}

{% block script %}
{% endblock %}

<script src="./scripts/tips.js"></script>
<link rel="stylesheet" href="./stylesheets/tips.css">

<script type=”text/javascript”>window.CSRF_TOKEN = “{{ csrf_token }}”;</script>

{% block meta %}
{% endblock %}

{% block content %}

    <br>
    <br>
    <br>

    <div class="section1" id="section1">
        <div class="submitTip" id="submitTip">
            <button class="submitButton" type="button" onclick="document.location.href='/submittip/'">Submit Tip!</button>
        </div>

        <div class="dropdown" id="dropdown">
            <input id="keyInput" style="width: 30%;" type="text" onclick="showDropdown()" onkeyup="filterSearch()" placeholder="Search for keyword..." class="dropLst">
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Addiction</a>
                <a href="#">ADHD</a>
                <a href="#">Anxiety</a>
                <a href="#">Bipolar Disorder</a>
                <a href="#">Depression</a>
                <a href="#">Eating Disorder</a>
                <a href="#">OCD</a>
                <a href="#">PTSD</a>
                <a href="#">General</a>
            </div>
        </div>
    </div>

    <br>

    <script>
    /* Show dropdown list when user clicks on the input box */
    function showDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterSearch() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("keyInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropLst')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
        }
    }
    </script>

<div id="columns">
    <div id=”posts”>
        <!-- Loop over each tip saved in the tips table in the database -->
        {% for post in posts %}
        <div>
            <tip>
            <!-- print each title and tip content -->
            <tiptitle>{{ post.title }}</tiptitle>
            <br>
            <tipcaption>{{ post.tip }}</tipcaption>
            </tip>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
