<!DOCTYPE html>
{% extends 'MainApp/base.html' %}
{% load staticfiles %}

{% block title %}
    - Tips
{% endblock %}

{% block script %}
{% endblock %}

<script src="./scripts/tips.js"></script>
<link rel="stylesheet" href="./stylesheets/tips.css">

{% block meta %}
{% endblock %}

{% block content %}

    <br>
    <br>
    <br>

    <div class="section1" id="section1">
        <div class="submitTip" id="submitTip">
            <button class="submitButton" type="button" onclick="document.location.href='/submittip/'">Submit Tip!</button>
        </div>

        <div class="dropdown" id="dropdown">
            <input id="keyInput" style="width: 30%;" type="text" onclick="showDropdown()" onkeyup="filterSearch()" placeholder="Search for keyword..." class="dropLst">
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Addiction</a>
                <a href="#">ADHD</a>
                <a href="#">Anxiety</a>
                <a href="#">Bipolar Disorder</a>
                <a href="#">Depression</a>
                <a href="#">Eating Disorder</a>
                <a href="#">OCD</a>
                <a href="#">PTSD</a>
                <a href="#">General</a>
            </div>
        </div>
    </div>

    <br>

    <script>
    /* Show dropdown list when user clicks on the input box */
    function showDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterSearch() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("keyInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropLst')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
        }
    }
    </script>

<div id="columns">
    <tip>
        <tiptitle>Know your limitations, but focus on your strong points</tiptitle>
        <br>
        <tipcaption>You probably can’t handle as much stress as other people. So maybe you don’t get as much done in a day. But the flip side of that is that you’re probably a pretty patient human being. That’s going to make a lot of people want to be your friend.
        <br>
        <br>I’m not sure why, but it seems like people with mental illnesses are overrepresented in the brains and creativity department. Autism often comes with great attention to detail and the same type of associative thinking as schizophrenia. And we all know how many artists are bipolar.</tipcaption>
    </tip>

    <tip>
        <tiptitle>Staying Hydrated</tiptitle>
        <br>
        <tipcaption>It's recommended that you drink between 6-8 glasses of fluid per day. Water is a cheap and healthy option</tipcaption>
    </tip>

    <tip>
        <tiptitle>Relax Before You Go To Bed</tiptitle>
        <br>
        <tipcaption>- Do something calming
        <br>- Breathing exercises
        <br>- Muscle relaxation
        <br>- Meditation</tipcaption>
    </tip>

    <tip>
        <tiptitle>Figure out who will accept you</tiptitle>
        <br>
        <tipcaption>A lot of us are charismatic in small doses. That gives people high expectations. But when we can’t be “on” consistently enough to meet those expectations it feels like we’re letting people down. There are some people you can be around all the time and others who are only able to deal with you on good days. That’s okay. Every friendship has a different purpose. Sometimes you fit with someone so well in some ways that it makes up for all the others.</tipcaption>
    </tip>

    <tip>
        <tiptitle>Don’t let people treat you badly</tiptitle>
        <br>
        <tipcaption>A lot of us are easy prey for abusive partners and “friends” who want to make everyone around them as miserable as they are. I dated a controlling guy in high school who subtly tried to change my opinion of my family. I was vaguely aware that he wasn’t a good person, but I was so flattered by the attention that I put up with it until my parents wouldn’t let me see him anymore.</tipcaption>
    </tip>

    <tip>
        <tiptitle>Get treatment</tiptitle>
        <br>
        <tipcaption>Please. Two of my friends committed suicide because they hadn’t dealt with their illnesses properly. You might be ashamed, but there’s way more shame in hurting people who need you because you don’t want to admit that you have a problem.</tipcaption>
    </tip>

    <tip>
        <tiptitle>Break Tasks Down Into Small Steps</tiptitle>
        <br>
        <tipcaption>A common symptom of depression is the feeling of being overwhelmed even by ordinary day-to-day tasks.
        <br>Even getting out of bed and getting dressed can feel like a huge hurdle and people become more withdrawn and less active as depression becomes more severe.
        <br>The best way to overcome feeling overwhelmed is to break down the activity in small, easier-to-achieve chunks.</tipcaption>
    </tip>

    <tip>
        <tiptitle>Avoid Isolation By Connecting With People</tiptitle>
        <br>
        <tipcaption>People with depression often cut themselves off from the outside world. But becoming withdrawn and less talkative can create a downward spiral.
        <br>Connection is one of the six basic emotional needs and when depression takes hold it is often the need that gets most neglected in favour of satisfying the need for comfort through isolation.</tipcaption>
    </tip>

    <tip>
        <tiptitle>Accept Personal Responsibility</tiptitle>
        <br>
        <tipcaption>The power of the mind is an amazing thing, and although pharmaceutical intervention is certainly beneficial in cases of severe depression, individuals can work towards overcoming mild or moderate depression faster if they start to take personal responsibility for their actions and behaviours.
        <br>This advice is not about “pulling yourself together” but more about what decisions need to be made by the individual to make them feel more powerful and happy.</tipcaption>
    </tip>
    <tip>
        <tiptitle>Have Regular Sleep Time</tiptitle>
        <br>
        <tipcaption>Getting a good night’s sleep is important for everyone but especially for those suffering from depression. Conversely too much sleep (over eight hours) can exacerbate depression.
        <br>Regular sleeping hours are essential in managing mood and having a regular bedtime and rise time is important.
        <br>Go back to basics, set alarms, create a routine and introduce calming rituals before bed.</tipcaption>
    </tip>
</div>

{% endblock %}
