[core]
        editor = vim
        pager = less

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        pager = true
        ui = auto

[alias]
        hist = log --graph --oneline --decorate
        st = status

[user]
	name = Team C Lab 3
	email = 2246306W@student.gla.ac.uk
[push]
	default = matching
