-f /usr/share/pip-wheels
aggdraw==1.1.post20051010
alabaster==0.7.9
alembic==0.8.6
aniso8601==1.1.0
ansible==2.1.0.0
appdirs==1.4.2
argh==0.26.2
async==0.6.2
attrs==16.2.0
Augustus==0.5.3.0
Babel==2.3.4
backports-abc==0.4
backports.ssl==0.0.9
backports.ssl-match-hostname==3.5.0.1
basemap==1.0.7
bashplotlib==0.6.5
bcrypt==3.1.1
beanstalkc==0.4.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
biopython==1.67
bleach==1.4.3
blessings==1.6
blinker==1.4
boto==2.41.0
bottle==0.12.9
bottlenose==0.6.4
bpython==0.15
BTrees==4.3.1
bz2file==0.98
bzr==2.7.0
cairocffi==0.7.2
CairoSVG==1.0.22
census==0.7
certifi==2017.1.23
cffi==1.7.0
Chameleon==2.24
chardet==2.3.0
Cheetah==2.4.4
CherryPy==6.0.2
click==6.6
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.7
configobj==5.0.6
configparser==3.5.0
CoolProp==6.0.0
coverage==4.1
cryptography==1.4
cssselect==0.9.2
curtsies==0.2.6
cvxopt==1.1.6
cycler==0.10.0
cypari==1.2.2
Cython==0.24
dataset==0.6.4
decorator==4.0.10
dectate==0.12
defusedxml==0.4.1
Django==1.10
django-blog-zinnia==0.17
django-bootstrap-form==3.2.1
django-classy-tags==0.7.2
django-cms==3.3.0
django-contrib-comments==1.7.2
django-formtools==1.0
django-mptt==0.8.4
django-object-tools==1.9
django-openid-auth==0.9
django-registration==2.1.2
django-sekizai==0.9.0
django-social-auth==0.7.28
django-tagging==0.4.3
django-treebeard==4.0.1
django-xmlrpc==0.1.5
django4facebook==0.1.0
djangocms-admin-style==1.2.3
docopt==0.6.2
docutils==0.12
dominate==2.2.1
dropbox==6.5.0
dulwich==0.14.1
easydev==0.9.25
EasyProcess==0.2.2
elaphe==0.6.0
entrypoints==0.2.2
enum34==1.1.6
epydoc==3.0.1
et-xmlfile==1.0.1
evernote==1.25.2
Fabric==1.11.1
facebook-sdk==1.0.0
falcon==1.0.0
feedgenerator==1.8
feedparser==5.2.1
filebrowser-safe==0.4.3
Fiona==1.7.0.post2
Flask==0.11.1
Flask-Admin==1.4.2
Flask-Babel==0.11.1
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.6.0
Flask-HTTPAuth==3.1.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.12
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.15.2
futures==3.0.5
FXrays==1.3.1
GDAL==1.9.1
gdata==2.0.18
Genshi==0.7
gensim==0.13.1
GeoIP==1.3.2
geopy==1.11.0
gevent==1.1.1
geventhttpclient==1.3.0
gitdb==0.6.4
GitPython==2.0.6
gmpy==1.17
google-api-python-client==1.5.1
grappelli-safe==0.4.2
greenlet==0.4.10
grequests==0.3.0
grok==1.14.1
grokcore.annotation==1.5.1
grokcore.catalog==2.2.1
grokcore.chameleon==1.0.4
grokcore.component==2.7
grokcore.content==1.3.1
grokcore.formlib==1.11
grokcore.json==1.2.1
grokcore.layout==1.6.1
grokcore.message==0.4.3
grokcore.rest==1.3
grokcore.security==1.6.3
grokcore.site==1.7.1
grokcore.traverser==1.2.1
grokcore.view==2.11
grokcore.viewlet==1.11
grokcore.xmlrpc==1.2.1
hg-git==0.8.5
html5lib==0.9999999
http-parser==0.8.3
httplib2==0.9.2
idna==2.1
imagesize==0.7.1
IMAPClient==1.0.1
importlib==1.0.4
importscan==0.1
incf.countryutils==1.0
inflection==0.3.1
iotop==0.6
ipaddress==1.0.16
ipykernel==4.5.2
ipyparallel==5.0.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
isodate==0.5.4
itsdangerous==0.24
jdcal==1.2
jellyfish==0.5.1
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.3.0
keepalive==0.5
la==0.6.0
linecache2==1.0.0
Logbook==1.0.0
lxml==3.6.0
Mako==1.0.4
marisa-trie==0.7.2
Markdown==2.6.6
MarkupSafe==0.23
martian==0.15
matplotlib==1.5.1
mechanize==0.2.5
mercurial==3.8.4
Mezzanine==4.1.0
mimerender==0.6.0
mistune==0.7.3
mlpy==3.5.0
mock==2.0.0
mod-pywebsocket==0.7.9
moin==1.9.8
more-itertools==2.2
morepath==0.16.2
mots-vides==2015.5.11
mplh5canvas==0.7
mpmath==0.19
munch==2.0.4
mysql-connector-python==1.0.12
MySQL-python==1.2.5
nbconvert==4.2.0
nbformat==4.3.0
ndg-httpsclient==0.4.1
netCDF4==1.2.4
netifaces==0.10.4
networkx==1.11
nltk==3.2.1
normality==0.2.4
nose==1.3.7
notebook==4.2.2
numexpr==2.6.0
numpy==1.11.1
oauth==1.0.1
oauth2==1.9.0.post1
oauth2client==3.0.0
oauthlib==1.1.2
openopt==0.5402
openpyxl==2.3.5
Orange==2.7.8
Orange-Text==1.2a1
ordereddict==1.1
oursql==0.9.3.2
packaging==16.8
pandas==0.18.1
pandocfilters==1.4.1
paramiko==2.0.1
parsel==1.0.3
Paste==2.0.3
PasteDeploy==1.5.2
pathlib2==2.1.0
pathtools==0.1.2
patsy==0.4.1
Pattern==2.6
pbr==1.10.0
pdflatex==0.1.0
pdfminer==20140328
peewee==2.1.2
pelican==3.6.3
pep8==1.7.0
persistent==4.2.1
pexpect==4.2.0
pickleshare==0.7.4
Pillow==3.3.0
Pinax==0.9a2
Pint==0.7.2
pisa==3.0.33
Pivy==0.5.0
plink==1.9.1
plotly==1.12.3
pp==1.6.5
praw==3.5.0
prettytable==0.7.2
prompt-toolkit==1.0.13
protobuf==3.0.0b2
psutil==4.3.0
psycopg2==2.6.2
ptyprocess==0.5.1
pudb==2016.2
py-bcrypt==0.4
py2neo==3.1.1
PyAMF==0.8.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
PyChart==1.39
pycparser==2.14
pycrypto==2.6.1
pycsp==0.9.2
pycurl==7.43.0
pyDatalog==0.17.1
PyDispatcher==2.0.5
pydot==1.2.2
pydub==0.16.4
pyenchant==1.6.6
pyfits==3.4
pyflakes==1.2.3
pygal==2.2.3
pygeoip==0.3.2
Pygments==2.1.3
pygraphviz==1.3.1
pyhdf==0.8.3
Pykka==1.2.1
pymc==2.3.6
pymongo==3.2.2
pyodbc==3.0.10
pyOpenSSL==16.0.0
pyparsing==2.1.5
PyPDF2==1.26.0
pypdfocr==0.9.0
pypdftk==0.3
Pyphen==0.9.4
pypng==0.0.18
pyproj==1.9.5.1
pyquery==1.2.13
pyramid==1.7
PySAL==1.5.0
pyserial==3.1.1
pyspotify==2.0.5
PyStemmer==1.3.0
pytesseract==0.1.6
python-amazon-simple-product-api==2.1.0
python-dateutil==2.5.3
python-editor==1.0.1
python-gflags==3.0.5
python-inotify==0.5
python-instagram==1.3.2
python-ldap==2.4.25
python-Levenshtein==0.12.0
python-magic==0.4.12
python-mcrypt==1.1
python-mhash==1.4
python-mimeparse==1.5.2
python-openid==2.2.5
python-slugify==1.2.0
pytz==2016.4
PyVirtualDisplay==0.2
PyYAML==3.11
pyzmq==15.3.0
qrcode==5.3
qtconsole==4.2.1
Quandl==3.0.1
quantlib==0.1
QuantLib-Python==1.3
queuelib==1.4.2
rdflib==4.2.1
redis==2.10.5
reg==0.10
regex==2017.2.8
remix==2.4.0
reportlab==3.3.0
repoze.lru==0.6
requests==2.10.0
requests-cache==0.4.12
requests-oauthlib==0.6.2
resolver-test==1.3
restkit==4.2.2
RestrictedPython==3.6.0
rpy2==2.5.2
rsa==3.4.2
ruffus==2.6.3
s3cmd==1.6.1
scandir==1.5
scikit-learn==0.17.1
scikits.statsmodels==0.3.1
scipy==0.18.0
Scrapy==1.1.0
selenium==2.53.6
service-identity==16.0.0
setproctitle==1.1.10
Shapely==1.5.16
simplegeneric==0.8.1
SimpleHMMER==0.2.3
simplejson==3.8.2
simpy==3.0.9
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.3.3
smmap==0.9.0
snappy==2.4.1
snowballstemmer==1.2.1
soaplib==1.0.0
socketpool==0.5.3
sockjs-tornado==1.0.3
South==1.0.2
SPARQLWrapper==1.7.6
speaklater==1.3
spectrum==0.6.1
spherogram==1.5.1
Sphinx==1.4.4
splinter==0.7.3
SQLAlchemy==1.0.14
sqlalchemy-migrate==0.10.0
sqlparse==0.2.1
statsmodels==0.6.1
stevedore==1.15.0
stripe==1.36.0
suds==0.4
svn==0.3.40
sympy==0.7.2
TA-Lib==0.4.9
tables==3.2.3.1
tabulate==0.7.7
Tempita==0.5.2
tensorflow==0.8.0
terminado==0.6
testpath==0.3
texcaller==0
textblob==0.11.1
tinycss==0.3
TornadIO2==0.0.3
tornado==4.3
Trac==1.0.12
traceback2==1.4.0
traitlets==4.2.2
transaction==1.6.1
translationstring==1.3
tweepy==3.5.0
twilio==5.4.0
Twisted==16.3.0
twitter==1.17.1
tzlocal==1.2.2
uncertainties==2.4.8.1
Unidecode==0.4.19
unittest2==1.1.0
update-checker==0.11
uritemplate==0.6
urllib3==1.16
urwid==1.3.1
us==0.9.1
venusian==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
visitor==0.1.3
VTK==5.8.0
w3lib==1.14.2
waitress==0.9.0
Wand==0.4.3
watchdog==0.8.3
wcwidth==0.1.7
WeasyPrint==0.29
web.py==0.38
webapp2==2.5.2
WebOb==1.6.1
WebTest==2.0.23
Werkzeug==0.11.10
wheezy.caching==0.1.114
wheezy.core==0.1.140
wheezy.html==0.1.147
wheezy.http==0.1.344
wheezy.routing==0.1.157
wheezy.security==0.1.64
wheezy.template==0.1.167
wheezy.validation==0.1.135
wheezy.web==0.1.485
Whoosh==2.7.4
widgetsnbextension==1.2.6
WTForms==2.1
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xlrd==1.0.0
xlutils==2.0.0
xlwt==1.1.2
z3c.autoinclude==0.3.6
z3c.flashmessage==1.3
z3c.pt==2.2.3
zbar==0.10
zc.buildout==2.5.2
zc.catalog==1.6
zc.lockfile==1.2.1
ZConfig==3.1.0
zdaemon==4.1.0
ZEO==4.2.1
zipline==0.7.0
ZODB==4.4.2
ZODB3==3.11.0
zodbpickle==0.6.0
zope.annotation==4.4.1
zope.app.appsetup==4.0.0a1
zope.app.publication==4.0.0a1.dev0
zope.app.wsgi==4.0.0a4
zope.authentication==4.2.1
zope.browser==2.1.0
zope.browserpage==4.1.0
zope.browserresource==4.1.0
zope.catalog==4.1.0
zope.component==4.2.2
zope.configuration==4.0.3
zope.container==4.1.0
zope.contentprovider==4.0.0
zope.contenttype==4.1.0
zope.datetime==4.1.0
zope.deprecation==4.1.2
zope.dottedname==4.1.0
zope.error==4.3.0
zope.errorview==0.11
zope.event==4.2.0
zope.exceptions==4.0.8
zope.filerepresentation==4.1.0
zope.formlib==4.3.0
zope.generations==3.7.1
zope.i18n==4.1.0
zope.i18nmessageid==4.0.3
zope.index==4.2.0
zope.interface==4.2.0
zope.intid==4.1.0
zope.keyreference==4.1.0
zope.lifecycleevent==4.1.0
zope.location==4.0.3
zope.login==2.0.0
zope.minmax==2.1.0
zope.pagetemplate==4.2.1
zope.password==4.2.0
zope.principalregistry==4.0.0
zope.processlifetime==2.1.0
zope.proxy==4.2.0
zope.ptresource==4.0.0
zope.publisher==4.3.0
zope.schema==4.4.2
zope.security==4.0.3
zope.securitypolicy==4.0.0
zope.session==4.1.0
zope.site==4.0.0
zope.size==4.1.0
zope.tal==4.2.0
zope.tales==4.1.1
zope.testbrowser==4.0.4
zope.testing==4.5.0
zope.traversing==4.0.0
zope.viewlet==4.0.0
