/* Layout of Tips */
body {
  font-family: Helvetica;
  min-height: 1000px;
}

/* set size of columns which display tips */
#columns {
	column-width: 220px;
	column-gap: 15px;
    width: 100%;
	max-width: 1100px;
	margin: 20px auto;
}

/* set the styling of each individual tip on the page */
div#columns tip {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

/* styling for the tip titles */
div#columns tip tiptitle {
    font-size: 1.3rem;
    color: #212020;
    line-height: 1.5;
}

/* styling for the tip content */
div#columns tip tipcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns:hover tip:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns tip { width: 100%; }
}




/* Layout of Dropdown List */

.dropLst {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

/* change input box colour when hovered over / clicked on */
.dropLst:hover, .dropLst:focus {
    background-color: #acd5ef;
}

/* position the dropdown list */
.dropdown {
    position: relative;
    display: inline-block;
}

/* styling of the dropdown list content */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* styling of the links inside the dropdown list *//
.dropdown-content a {
    color: #e0e0e0;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* change the colour of the links inside the dropdown list when hovered over */
.dropdown-content a:hover {
    background-color: #444444
}

/* show the dropdown menu when the user clicks on the input box */
.show {
    display:block;
}

/* positioning of the submit tip button */
.submitTip {
    margin-right: 5%;
}

/* placing the submit tip button and input box on the same line */
#section1 {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

#dropdown, #submitTip
{
    display:inline;
}

/* give the submit tip button a shadow when hovered over */
.submitButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* styling of the submit tip button */
.submitButton {
    background-color: #AACCFF;
    border: none;
    color: black;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
