* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  background-size: 20%;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  background: #AACCFF;
  border-radius: 5px;
}

.flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}